<button class="config-switch" (click)="configToggle()">
  <i class="fa fa-tasks" *ngIf="!isConfigToggle"></i>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <div class="config-header">
    <h3 class="config-title">
      <i class="fa fa-cogs"></i>
      <span>Settings</span>
    </h3>
    <p class="desc">Profile Data</p>
  </div>
  <ul class="config-content">
    <!-- <a [routerLink]="['login']" routerLinkActive="active" class="menu-link">
      <li class="config-list">
      <span>Login</span>
    </li>
    </a> -->
    <a [routerLink]="['profile']" routerLinkActive="active" class="menu-link">
      <li class="config-list">
      My profile
    </li>
    </a>
    <a [routerLink]="['login']" routerLinkActive="active" class="menu-link">
    <li class="config-list">
      Logout
    </li>
    </a>
  </ul>
</div>
