<div class="row">
    <div class="col-md-12">
      <card cardTitle="Make Payment">
        <form class="form-group">
          <label class="control-label">Advertise Name</label>
          <input type="text" class="form-control" placeholder="Advertise Name">
          <label class="control-label">Payment</label>
          <input type="text" class="form-control" placeholder="Payment">
          <label class="control-label">Expected Publishing period</label>
          <input type="password" class="form-control" placeholder="Expected Publishing period">
          <input class="checkbox" type="checkbox" id="remember" checked>
          <label class="check-label" for="remember">Remember Me</label>
          <button type="submit" class="btn btn-primary">Make Payment</button>
        </form>
      </card>
    </div>
  </div>