<div class="card card-block login-card">
    <card cardTitle="modal sizes">
        <button class="btn btn-primary" (click)="publisherModal.open()">Publisher Login</button>
        <button class="btn btn-primary" (click)="advertiserModal.open()">Advertiser Login</button>
    </card>
  </div>
    <modal #publisherModal class="modal-sm">
        <modal-header>
          <h3>Publisher Login</h3>
        </modal-header>
        <modal-content>
          <div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon addon-left" id="username">
                  <i class="fa fa-user fa-fw"></i>
                </span>
                <input class="form-control with-primary-addon" placeholder="User Account" type="text">
              </div>
              <div class="input-group">
                <span class="input-group-addon addon-left" id="password">
                  <i class="fa fa-lock fa-fw"></i>
                </span>
                <input class="form-control with-primary-addon" placeholder="Password" type="password">
              </div>
              <a [routerLink]="['pages/index']" (click)="onChangeData()" routerLinkActive="active" class="menu-link">
                <button class="btn btn-lg btn-primary">Login</button>
              </a>
              <a href="" class="btn btn-link">Register Now. →</a>
              </div>
            </div>
        </modal-content>
      </modal>
      <modal #advertiserModal class="modal-sm">
          <modal-header>
            <h3>Advertiser Login</h3>
          </modal-header>
          <modal-content>
            <div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon addon-left" id="username">
                    <i class="fa fa-user fa-fw"></i>
                  </span>
                  <input class="form-control with-primary-addon" placeholder="User Account" type="text">
                </div>
                <div class="input-group">
                  <span class="input-group-addon addon-left" id="password">
                    <i class="fa fa-lock fa-fw"></i>
                  </span>
                  <input class="form-control with-primary-addon" placeholder="Password" type="password">
                </div>
                <a [routerLink]="['pages/index']" (click)="_advertiserLogin()" routerLinkActive="active" class="menu-link">
                  <button class="btn btn-lg btn-primary">Login</button>
                </a>
                <a href="" class="btn btn-link">Register Now. →</a>
                </div>
              </div>
          </modal-content>
        </modal>
  