<div class="row">
    <div class="col-md-3 animated fadeIn">
      <div class="card card-block tip-card">
        <div class="tip-msg">
          <h3>Ad Post 1</h3>
          <span>Ad1 description</span>
        </div>
        <button (click)="buttonModal.open()" class="tip-ico tip-ico-primary">
          <h4>Details</h4>
        </button>
      </div>
    </div>
    <div class="col-md-3 animated fadeIn">
      <div class="card card-block tip-card">
        <div class="tip-msg">
          <h3>Ad Post 2</h3>
          <span>Ad2 description</span>
        </div>
        <button (click)="buttonModal.open()" class="tip-ico tip-ico-info">
            <h4>Details</h4>
        </button>
      </div>
    </div>
    <div class="col-md-3 animated fadeIn">
      <div class="card card-block tip-card">
        <div class="tip-msg">
          <h3>Ad Post 3</h3>
          <span>Ad3 description</span>
        </div>
        <button (click)="buttonModal.open()" class="tip-ico tip-ico-success">
            <h4>Details</h4>
        </button>
      </div>
    </div>
    <div class="col-md-3 animated fadeIn">
      <div class="card card-block tip-card">
        <div class="tip-msg">
          <h3>Ad Post 4</h3>
          <span>Ad4 description</span>
        </div>
        <button (click)="buttonModal.open()" class="tip-ico tip-ico-danger">
            <h4>Details</h4>
        </button>
      </div>
    </div>
    <!-- <div class="col-md-8">
      <card cardTitle='Bar Chart' isCollapse="true">
        <div echarts [options]="AnimationBarOption" [loading]="showloading" theme="dark"></div>
      </card>
    </div>
    <div class="col-md-4">
      <card cardTitle="Todo List" isCollapse="true">
        <du-todolist></du-todolist>
      </card>
    </div>
    <div class="col-md-6">
      <card>
        <profile></profile>
      </card>
    </div>
    <div class="col-md-6">
      <card>
        <weather></weather>
      </card>
    </div>
  </div> -->
  

  <modal #buttonModal class="modal-sm">
      <modal-header>
        <h3>Advertiser Details</h3>
      </modal-header>
      <modal-content>
        <div>
          <div class="form-group">
            <div class="input-group">
              <!-- <span class="input-group-addon addon-left" id="username">
                <i class="fa fa-user fa-fw"></i>
              </span> -->
              <!-- <input class="form-control with-primary-addon" placeholder="Advertisement Name" type="text"> -->
            </div>
            <div class="input-group">
              <!-- <span class="input-group-addon addon-left" id="password">
                <i class="fa fa-lock fa-fw"></i>
              </span> -->
              <!-- <input class="form-control with-primary-addon" placeholder="Advertisement Details" type="password"> -->
            </div>
            <a [routerLink]="['pages/index2']" routerLinkActive="active" class="menu-link">
              <button class="btn btn-lg btn-primary">Accept Advertisement</button>
            </a>
            <a [routerLink]="['pages/index2']" routerLinkActive="active" class="menu-link">
              <button class="btn btn-lg btn-primary">Reject Advertisement</button>
            </a>
            </div>
          </div>
      </modal-content>
    </modal>