<div class="row">
  <div class="col-md-12">
    <card cardTitle="New Advertise Request">
      <form class="form-group">
        <label class="control-label">Advertise Name</label>
        <input type="text" class="form-control" placeholder="Advertise Name">
        <label class="control-label">Expected Cost</label>
        <input type="text" class="form-control" placeholder="Cost">
        <label class="control-label">Expected Publishing period</label>
        <input type="password" class="form-control" placeholder="Expected Publishing period">
        <label class="control-label">Description</label>
        <textarea class="form-control" placeholder="Description"></textarea>
        <input class="checkbox" type="checkbox" id="remember" checked>
        <label class="check-label" for="remember">Remember Me</label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </card>
  </div>
</div>